# === Web Framework ===
fastapi
uvicorn[standard]

# === Database ===
mysql-connector-python
sqlalchemy
alembic

# === Env ===
python-dotenv

# === Auth (JWT / Password Hashing) ===
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
